/* body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
    margin: 20px;
    border: 2px solid #ddd;
}

button {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
} */
/* Module 1 end */

body {
    margin: 0;
    overflow: hidden;
}

.toolbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

canvas {
    display: block;
    margin: 20px;
    border: 2px solid #ddd;
}

button, input {
    margin: 5px;
}

/* Module 2 end */